* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%; 
}

div {
  height: 100%; 
}

h1 {
  -webkit-text-stroke: .5px #000000;
  font: 40px;
  color: #0098D5;
}

.App > * {
  margin: 1em 0;
  color: #0077CD;
}

.App {
  padding: 5em;
  text-align: center;
  background-image: url('/public/hawaii2.jpeg');
}

.App li {
  list-style-type: none;
}

.App button {
  margin: 10px;
}
.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.completed {
  text-decoration: line-through;
  color: red;
}

